<section
  class="d-flex flex-column align-items-center justify-content-center vh-100 bg-home"
  id="home"
>
  <div class="container text-center">
    <img
      src="/assets/image/profile.jpg"
      alt=""
      class="rounded-circle mb-3 image-profile"
    />
    <h1 class="title">Fernando M. Yncaluque</h1>
    <p class="subtitle">Desarrollador Front-end</p>
    <div class="d-flex justify-content-center gap-3 text-white">
      <a
        href="https://www.linkedin.com/in/fyncaluque"
        target="_blank"
        class="fs-4 page-link"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a
        href="https://github.com/fyncaluque"
        target="_blank"
        class="fs-4 page-link"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="#" class="fs-4 page-link"
        ><i class="fa-brands fa-behance"></i
      ></a>
    </div>
    <a href="#contact" class="btn btn-primary rounded-5 my-4 px-5">
      <span class="fw-bold text-white">Contactame</span>
    </a>
  </div>
</section>
<app-particles />
