<section class="bg-home" id="home">
  <div
    class="container vh-100 d-flex flex-column align-items-center justify-content-center"
  >
    <div class="info">
      <img
        src="/assets/image/profile.jpg"
        alt="Foto de perfil"
        class="rounded-circle mb-3 image-profile"
      />
      <h1 class="title">Fernando M. Yncaluque</h1>
      <p class="subtitle">Desarrollador Front-end</p>
      <div class="d-flex justify-content-center gap-3 text-white">
        <a
          href="https://www.linkedin.com/in/fyncaluque"
          target="_blank"
          class="fs-4 page-link"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a
          href="https://github.com/fyncaluque"
          target="_blank"
          class="fs-4 page-link"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a href="#" class="fs-4 page-link"
          ><i class="fa-brands fa-behance"></i
        ></a>
      </div>
      <a routerLink="contact" class="btn btn-primary rounded-5 mt-4 px-5">
        <span class="fw-bold text-white">Contactame</span>
      </a>
    </div>
  </div>
</section>
