.image-profile {
  width: 100px;
}

.bg-home {
  background: #000;

  height: 100vh;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
}
.subtitle {
  color: #ffd15c;
  margin: 0;
  margin-bottom: 1rem;
}

.info {
  text-align: center;
  z-index: 20;
}

@media (max-width: 576px) {
  .title {
    font-size: 24px;
  }
}
