<section class="section">
  <div class="container py-5">
    <h2 class="title-section mb-4 mt-3">Acerca de</h2>

    <div class="card border-0 shadow-lg p-5">
      <div class="row">
        <div
          class="col-12 col-md-3 d-flex justify-content-center align-items-center"
        >
          <img
            src="/assets/image/profile.jpg"
            alt=""
            class="rounded-circle shadow-lg"
            style="width: 150px"
          />
        </div>
        <div class="col-12 col-md-5">
          <p>
            I am Bolby Doe, web developer from London, United Kingdom. I have
            rich experience in web site design and building and customization,
            also I am good at WordPress.
          </p>
          <button
            class="btn btn-lg btn-primary text-white fw-semibold rounded-5 px-4"
          >
            Descargar CV
            <i class="fa-solid fa-download ms-2"></i>
          </button>
        </div>
        <div class="col-12 col-md-4">
          <!-- Hard Skills -->
          <app-hard-skill
            title="Angular"
            bgClass="bg-primary"
            progressWidth="95"
          />
          <app-hard-skill title="React" bgClass="bg-info" progressWidth="70" />
          <app-hard-skill
            title="Bootstrap"
            bgClass="bg-warning"
            progressWidth="80"
          />

          <!-- /Hard Skills -->
        </div>
      </div>
    </div>
  </div>
</section>
