<footer class="py-4 bg-dark">
  <div class="container">
    <div class="d-sm-flex gap-5 justify-content-center px-4 mt-3 mt-sm-0">
      <!-- Location -->
      <div class="d-flex align-items-center gap-3 mb-3">
        <div class="fs-1"><i class="fa-solid fa-location-dot"></i></div>
        <div>
          <h5 class="fs-6 m-0 fw-bold">Localización</h5>
          <p class="fs-6 m-0">Arequipa, Perú</p>
        </div>
      </div>
      <!-- /Location -->

      <!-- Phone -->
      <div class="d-flex align-items-center gap-3 mb-3">
        <div class="fs-1">
          <i class="fa-solid fa-mobile-screen-button"></i>
        </div>
        <div>
          <h5 class="m-0">Celular</h5>
          <p class="m-0">(+51) 922052650</p>
        </div>
      </div>
      <!-- /Phone -->

      <!-- Email -->
      <div class="d-flex align-items-center gap-3 mb-3">
        <div class="fs-1"><i class="fa-solid fa-envelope"></i></div>
        <div>
          <h5 class="m-0">Correo</h5>
          <p class="m-0">fyncaluque@gmail.com</p>
        </div>
      </div>
      <!-- /Email -->
    </div>
  </div>
</footer>
