<section id="about" class="py-5">
  <div class="container">
    <h2 class="fs-1 fw-bold">Acerca de</h2>

    <div class="card border-0 rounded-1 shadow-lg p-4 bg-transparent">
      <div class="row row-gap-4">
        <div class="col-12 col-lg-6 px-lg-3">
          <h4 class="card-title">Perfil</h4>
          <p class="fs-5">
            Cuento con experiencia como freelance creando aplicaciones a medida,
            diseño de interfaces de usuario, desarrollo de componentes y consumo
            de APIs.
          </p>
          <a
            href="/assets/files/curriculum.pdf"
            download="CV-Paul_Fernando_Mamani_Yncaluque.pdf"
            class="btn btn-primary text-white fw-semibold rounded-5 px-4"
          >
            Descargar CV
            <i class="fa-solid fa-download ms-2"></i>
          </a>
        </div>
        <div class="col-12 col-lg-6">
          <h4 class="card-title">Habilidades</h4>
          <!-- Hard Skills -->
          <div class="row">
            <div class="col-12 col-md-6">
              <app-hard-skill
                title="Angular"
                bgClass="bg-primary"
                progressWidth="95"
              />
            </div>
            <div class="col-12 col-md-6">
              <app-hard-skill
                title="React"
                bgClass="bg-info"
                progressWidth="70"
              />
            </div>
            <div class="col-12 col-md-6">
              <app-hard-skill
                title="Bootstrap"
                bgClass="bg-warning"
                progressWidth="80"
              />
            </div>
            <div class="col-12 col-md-6">
              <app-hard-skill
                title="TailwindCSS"
                bgClass="bg-success"
                progressWidth="80"
              />
            </div>
            <div class="col-12 col-md-6">
              <app-hard-skill
                title="Redux"
                bgClass="bg-info"
                progressWidth="60"
              />
            </div>
            <div class="col-12 col-md-6">
              <app-hard-skill
                title="Git"
                bgClass="bg-secondary"
                progressWidth="70"
              />
            </div>
          </div>

          <!-- /Hard Skills -->
        </div>
      </div>
    </div>

    <!-- Sección de Habilidades Blandas -->

    <div class="row py-4">
      <div class="col-md-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center">
            <i class="fas fa-user-friends fa-3x mb-3"></i>
            <h4 class="card-title">Trabajo en Equipo</h4>
            <p class="card-text">
              Colaboro eficazmente en equipos multidisciplinarios.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center">
            <i class="fas fa-comments fa-3x mb-3"></i>
            <h4 class="card-title">Comunicación</h4>
            <p class="card-text">
              Comunico mis ideas de manera clara y efectiva.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center">
            <i class="fas fa-chalkboard-teacher fa-3x mb-3"></i>
            <h4 class="card-title">Aprendizaje Continuo</h4>
            <p class="card-text">
              Siempre estoy dispuesto a aprender y adaptarme a nuevas
              tecnologías.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Agrega aquí otras secciones de tu portafolio -->
  </div>
</section>
