<section id="summary" class="py-3">
  <div class="container">
    <h2 class="fs-1 fw-bold text-center">Resumen</h2>
    <app-experience />
    <!-- Education -->
    <h3 class="text-danger text-md-center my-3">Formación</h3>
    <app-education
      title="Ingeniería de sistemas"
      subtitle="Universitaria"
      imageUrl="/assets/image/utp.png"
    />
    <app-education
      title="Computación e informática"
      subtitle="Técnica"
      imageUrl="/assets/image/unitek.png"
    />
    <app-education
      title="Diseño web y gráfico"
      subtitle="Técnica"
      imageUrl="/assets/image/hipolito.png"
    />
    <!-- /Education -->
  </div>
</section>
