<section id="projects" class="py-3">
  <h2 class="fw-bold text-center fs-1">Proyectos</h2>
  <p class="text-muted mb-3 mt-0 fs-4 text-center">
    Descubre lo que puedo hacer.
  </p>

  <div class="container py-4 py-lg-5">
    <div class="row g-3">
      <div class="col-12 col-lg-7">
        <img
          src="assets/image/img-pec.jpeg"
          alt="Plataforma de cursos PEC"
          class="img-project shadow-sm rounded-1"
        />
      </div>
      <div class="col-12 col-lg-5">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="p-3">
            <h3 class="d-inline">Plataforma de educación continua (PEC)</h3>
            <a href="" target="_blank" class="text-success ms-3 fs-5"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <p>
              Plataforma que permite a efectivos policiales solicitar la
              inscripción a cursos brindados por la Policía Nacional del Perú.
            </p>
            <div class="d-flex flex-wrap gap-2">
              <span class="px-3 py-1 bg-success text-white rounded-5"
                >Angular</span
              >
              <span class="px-3 py-1 bg-success text-white rounded-5"
                >Bootstrap</span
              >
              <span class="px-3 py-1 bg-success text-white rounded-5"
                >NgBootstrap</span
              >
              <span class="px-3 py-1 bg-success text-white rounded-5"
                >Api REST</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4 py-lg-5">
    <div class="row g-3 flex-row-reverse">
      <div class="col-12 col-lg-7">
        <img
          src="assets/image/img-easypos.jpeg"
          alt="Plataforma de cursos PEC"
          class="img-project shadow-sm rounded-1"
        />
      </div>
      <div class="col-12 col-lg-5">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="p-3">
            <h3 class="d-inline">EasyPOS</h3>
            <a href="" target="_blank" class="text-secondary ms-3 fs-5"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <p>
              Es un Punto de venta simple y fácil de usar, hecho para negocios
              pequeños.
            </p>
            <div class="d-flex flex-wrap gap-2">
              <span class="px-3 py-1 bg-secondary text-white rounded-5"
                >Angular</span
              >
              <span class="px-3 py-1 bg-secondary text-white rounded-5"
                >Bootstrap</span
              >
              <span class="px-3 py-1 bg-secondary text-white rounded-5"
                >NgRx</span
              >
              <span class="px-3 py-1 bg-secondary text-white rounded-5"
                >Firebase</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4 py-lg-5">
    <div class="row g-3">
      <div class="col-12 col-lg-7">
        <img
          src="assets/image/img-journal.png"
          alt="App para guardar notas"
          class="img-project shadow-sm rounded-1"
        />
      </div>
      <div class="col-12 col-lg-5">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="p-3">
            <h3 class="d-inline">JournalApp</h3>
            <a href="" target="_blank" class="text-info ms-3 fs-5"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <p>
              Aplicación para guardar notas o recordatorios, realizada como
              proyecto final del curso de React.
            </p>
            <div class="d-flex flex-wrap gap-2">
              <span class="px-3 py-1 bg-info text-white rounded-5">React</span>
              <span class="px-3 py-1 bg-info text-white rounded-5">Redux</span>
              <span class="px-3 py-1 bg-info text-white rounded-5"
                >MUI Material</span
              >
              <span class="px-3 py-1 bg-info text-white rounded-5"
                >Firebase</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
