<!-- Education 1 -->
<div class="d-flex">
  <div class="timeline-col d-none d-md-block">
    <div class="p-3">
      <h4 class="text-end">{{ title }}</h4>
    </div>
  </div>
  <div class="timeline-center">
    <div class="timeline-line">
      <div class="icon-top bg-danger">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="line-vertical bg-danger mx-auto"></div>
    </div>
  </div>
  <div class="timeline-col">
    <div class="pt-3 pb-5 pt-md-4 px-1 px-md-3">
      <div class="timeline-body">
        <h5 class="d-none d-md-block">{{ subtitle }}</h5>
        <h4 class="d-md-none">{{ title }}</h4>
        <hr class="w-50" />
        <img src="{{ imageUrl }}" alt="" style="height: 50px" class="ms-3" />
      </div>
    </div>
  </div>
</div>
<!-- /Education 1 -->
