<section id="contact" class="py-3">
  <div class="container">
    <h2 class="fw-bold text-center fs-1">Contacto</h2>
    <p class="text-center mb-3 fs-4">
      ¿Tienes alguna duda o consulta?. Estare encantado de responderte
    </p>
    <div class="row">
      <div class="col-12 col-sm-7 col-lg-8 px-lg-5 py-3 mx-auto">
        <form action="https://formspree.io/f/maygpgqw" method="POST">
          <div class="mb-3">
            <input
              type="text"
              name="name"
              id="name"
              class="form-control form-control-lg rounded-5"
              placeholder="Nombre"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control form-control-lg rounded-5"
              placeholder="Correo"
              required
            />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control form-control-lg rounded-4"
              name="message"
              id="message"
              rows="3"
              placeholder="Mensaje"
              required
            ></textarea>
          </div>

          <button
            type="submit"
            class="btn btn-lg btn-primary text-white px-4 rounded-5 fw-semibold"
          >
            Enviar mensaje
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
