<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarToggler">
      <a class="navbar-brand fs-1 fw-bold" href="#">FMY</a>
      <ul class="navbar-nav w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Resumen</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
