<nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      [ngClass]="{ collapsed: isNavCollapsed }"
      (click)="toggleNav()"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand fs-1 fw-bold" href="#">Dev</a>
    <div
      class="collapse navbar-collapse w-100"
      [ngClass]="{ show: !isNavCollapsed }"
      id="navbarToggler"
    >
      <ul class="navbar-nav w-100 justify-content-end menu">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="home"
            routerLinkActive="active"
            (click)="closeNav()"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="about"
            routerLinkActive="active"
            (click)="closeNav()"
            >Acerca de</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="summary"
            routerLinkActive="active"
            (click)="closeNav()"
            >Resumen</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="projects"
            routerLinkActive="active"
            (click)="closeNav()"
            >Proyectos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="contact"
            routerLinkActive="active"
            (click)="closeNav()"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
