<h3 class="text-danger text-center my-3">Experiencia</h3>
<!-- Work 1 -->
<div class="d-flex">
  <div class="timeline-col d-none d-md-block">
    <div class="p-3">
      <h4 class="text-end">Desarrollador Frontend</h4>
      <p class="text-muted text-end">Enero 2023 - Actualidad</p>
    </div>
  </div>
  <div class="timeline-center">
    <div class="timeline-line">
      <div class="icon-top bg-danger">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="line-vertical bg-danger mx-auto"></div>
    </div>
  </div>
  <div class="timeline-col">
    <div class="py-4 px-3">
      <div class="d-md-none">
        <h4>Desarrollador Frontend</h4>
        <p class="text-muted">Enero 2023 - Actualidad</p>
      </div>
      <h5 class="d-none d-md-block">Freelance</h5>
      <hr class="w-50" />
      <div class="timeline-body">
        <ul>
          <li>Gestión de proyecto</li>
          <li>Análisis y documentación de requerimientos del sistema</li>
          <li>Diseño e implementación de interfaces</li>
          <li>Integración con APIS</li>
          <li>Mantenimiento y actualización del sistema</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Work 1 -->

<!-- Work 2 -->
<div class="d-flex">
  <div class="timeline-col d-none d-md-block">
    <div class="p-3">
      <h4 class="text-end">Diseñador Gráfico</h4>
      <p class="text-muted text-end">Enero 2021 - Junio 2022</p>
    </div>
  </div>
  <div class="timeline-center">
    <div class="timeline-line">
      <div class="icon-top bg-danger">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="line-vertical bg-danger mx-auto"></div>
    </div>
  </div>
  <div class="timeline-col">
    <div class="py-4 px-3">
      <div class="d-md-none">
        <h4>Diseñador Gráfico</h4>
        <p class="text-muted">Enero 2021 - Junio 2022</p>
      </div>
      <h5 class="d-none d-md-block">Montana</h5>
      <hr class="w-50" />
      <div class="timeline-body">
        <ul>
          <li>Conceptualización y diseño de piezas gráficas.</li>
          <li>Correción y retoque de modelos.</li>
          <li>Impresión en piezas.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Work 2 -->
